
body {
    font-family: Arial, Helvetica, sans-serif
}

button {
    margin: 4px;
    border: 1px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.text {
    border: 0px;
    text-align: center;
    animation: textchange 200ms;
}

@keyframes textchange {
    0% {font-size: 5em; opacity:1;}
    100% {font-size:3em;opacity:1;}
}


.controls {
    position: absolute;
    top: 10px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}


.footer {
    position: absolute;
    bottom: 30px;
    left: 10px;
}