
body {
    font-family: Arial, Helvetica, sans-serif
}

button {
    margin: 4px;
    border: 1px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    color: white;
    border: 2px solid white;
    background: black;
    font-weight: 800;
    font-size: 1.1em;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    flex-grow: 2;
}

.text {
    border: 0px;
    text-align: center;
    flex-grow: 2;
    animation: textchange 200ms;
}

@keyframes textchange {
    0% {font-size: 5em; opacity:1;}
    100% {font-size:3em;opacity:1;}
}


.controls {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer {
    margin: 10px;
}